<div class="row">
  <div class="col-9 px-5">
    <h6 class="color">{{title}}</h6>
    <p class="light">{{description}}</p>
    <div class="text-end">
      <a class="link px-1" href="{{website}}">Website</a>
      <a class="link px-1" href="{{github}}">GitHub</a>
    </div>
  </div>
  <div class="col-3 d-flex py-1">
    <img class="img-fluid rounded mx-auto w-50" src="../img/{{image}}" alt="{{imageName}}">
  </div>
</div><br>